body {
  margin: ;
  font-family: Arial, sans-serif;
  background: #f172a;
  color: white;
}

.container {
  max-width: 700px;
  margin: auto;
  padding: 16px;
}

input, button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
}

button {
  background: #2563eb;
  color: white;
  font-weight: bold;
}

#status {
  margin-top: 16px;
}

.card {
  background: #1e293b;
  padding: 12px;
  border-radius: 12px;
  margin-top: 12px;
}
